.contact-us-container {
  padding: 5vw;
  background: url("./Module_1_Image.jpg") center center/cover no-repeat;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
  object-fit: contain;
  text-decoration: none;
  color: white;
}

/* @media screen and (max-width: 786px) {
  .contact-us-container {
    height: 120vh;
  }
} */
