.training-course-preview-container {
  background-color: #1d3558;
  padding: 5vw 15vw;
  text-align: center;
}

.training-course-preview-title {
  color: white;
  font-family: "Roboto Condensed";
  font-size: 30px;
  font-weight: 700;
}

.training-course-preview-subtitle {
  color: white;
}

.training-course-module-title {
  font-size: 12px;
}

.training-course-img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
