.company-profile-img {
  width: 70%;
  margin: auto;
}

.company-profile-title {
  font-family: "Roboto Condensed";
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.trainer-name {
  margin: 0;
}

.trainer-profile-text {
  text-align: left;
}

.company-profile-carousel-container {
  margin: auto;
  padding: 5vw;
  padding-top: 0;
}

.company-profile-trainer-img {
  height: 120px;
  margin-right: 20px;
}

.trainer-accordion > button.accordion-button {
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}
