body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F8F9FA;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.metalloy-btn {
  border-radius: 50px;
  background-color: #1d3558;
  outline: 0;
  border: 0;
  padding: 10px 20px;
}

.metalloy-btn:hover {
  background-color: #e53845;
  outline: 0;
  border: 0;
}

.metalloy-btn > a {
  color: white;
}

.metalloy-btn-light {
  border-radius: 50px;
  background-color: #e53845;
  outline: 0;
  border: 0;
  padding: 10px 20px;
}

.metalloy-btn-light:hover {
  background-color: #f8f9fa;
  color: #212529;
  outline: 0;
  border: 0;
}

.card-no-border {
  border-radius: 1rem;
  margin: 10px;
  border: 0;
}

a {
  text-decoration: none;
  color: black;
}

.vertical-align-mid {
  vertical-align: middle;
}

.metalloy-breadcrumb > .breadcrumb > .breadcrumb-item > a > a {
  color: white;
}